.content_container{
background-color: rgba(12, 192, 132, 0.668);
height: 90vh;;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.content_title{
    font-size: 35px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.content_subtitle{
    font-size: 30px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0;
}

.content_desc{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.content_input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 20px 0;
}

.content_input > input{
    height: 30px;
    width: 300px;
}

.content_input > Link{
    height: 34px;
    width: 130px;
    padding: 0 15px;
    margin-left: 10px;
    background-color: green;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}