.signinbody_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.signinbody_form{
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 37, 37);
    padding: 50px 40px;
}

.signinbody_title{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.signinbody_form > input{
    height: 40px;
    border-radius: 15px;
    border: none;
    padding: 0 10px;
    width: 300px;
    background-color: rgb(230,229,200);
    margin-bottom: 10px;
}

.signinbody_form > button{
    height: 35px;
    background-color: rgb(35, 8, 8);
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

.signinbody_text{
    text-align: center;
    margin-top: 10px;
    color: rgb(241, 235, 235);
    font-weight: 500;
}

.signinbody_text > span{
    font-weight: 700;
    color: rgb(28, 11, 11);
    cursor: pointer;
}