.banner{
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-blend-mode: screen;
    z-index: 1000;
}

.banner_contents{
width: fit-content;
padding-left: 40px;
top: 30vh;

}
.banner_contents > h1{
    
    font-family: 'Kristen ITC';
}
.banner_contents > h3{
    padding-top: 20px;
    width: 400px;
    font-weight: bolder;
    font-size: 0.8rem;   
}

.banner_buttons{
    display: flex;
    justify-content: space-between;
    width : 140px;
    padding-top: 20px;
    box-shadow: 2px;
    
}

.banner_buttons > button{
    
    background-color: transparent;
    color: #141414;
    background-color: #cc000c;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    z-index: 1002;
}

.banner_buttons > button:hover{
    cursor: pointer;
    background-color: rgb(12, 75, 177) !important;
}